NODE_ENV=development
LOG_LEVEL=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=testtest
POSTGRES_PASSWORD=testtest
POSTGRES_DB=nest-js-beginner-db
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_SEEDING=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=testtest

ALLOWED_ORIGINS=http://example.com,http://test.com

BETTER_AUTH_SECRET=yyTKVmZxXMOhl0NkDTES36TGMm2saoCA

API_PORT=3000
API_URL=http://localhost:${API_PORT}

ADMIN_EMAIL=test@test.com
ADMIN_PASSWORD=test
